
    <%- include('../partials/head') %>

    <div id="video-section" class="mb-10">
        <video  autoplay loop muted >
         <source id="mp4" src="/videos/espresso.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
                 <div class="d-none d-md-block py-5" style="position:absolute">
                     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgMLggDRLV2klL9BjB1A7i-XpmUgoK9dErLuFbgbS9_N400Qt7&usqp=CAU"  class="rounded-circle" width="250px" height="250px">
                     <h1 class="text-center" style="bottom:0; margin-top:80px; color: #fff; font-family : 'Kaushan Script', cursive;">Since 1999</h1>
                 </div>
     </div>
</
<!--section history-->

<section id="section-introduction">
    <h1 class="display-1 text-center" style="color:orange">History</h1>
    <div class="container-fluid text-center lead p-3">
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque tenetur quisquam asperiores eligendi sapiente. Impedit aperiam aliquam tenetur beatae repellat aliquid consequuntur, recusandae ducimus voluptates. Temporibus qui veniam tempora, est eos laboriosam maiores quas ad quisquam recusandae, quidem nostrum velit ipsum accusantium totam sint quis accusamus minus tenetur enim amet! Iusto nisi expedita neque at facilis. Et magni, labore provident sapiente dolore saepe doloribus nihil voluptates laboriosam ratione qui enim iusto. Ea sit alias distinctio suscipit illum ab quod. Laudantium nihil, perspiciatis optio unde ipsa ea quisquam aliquid, eveniet ipsam distinctio consequuntur tempore quasi obcaecati commodi ab deserunt numquam voluptate?</p>
    </div>
</section>

<!--section loyalty card-->

  <!-- HOME HEADING SECTION -->
  <section id="section-loyalty-card" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1 class="mt-3">Have you registered a loyalty card with us?</h1>
            <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ab tempora inventore quaerat culpa exercitationem ea. Officiis voluptatem ex unde quod modi, blanditiis quae quis vitae nemo assumenda explicabo aut officia! Labore consectetur fugiat inventore alias eligendi itaque, repudiandae nobis ad modi, quod soluta non sint illum ex! Optio, excepturi?
              consequatur soluta.</p>
              <button class="btn btn-outline-warning mt-2">Click Here for More! </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h1 class="display-3 text-center mt-2" > <i class="fas fa-coffee " style="color:CadetBlue"></i> <span style="color:orange">Combo Packages</span></h1>

  <!--start of combo package-->
  <section id="section-combo-package" class="mt-5">
      <div class="container">
          <div class="row" id="image-card">
            <!--start of first card-->
              <div class="col-md-4" >
                  <div class="card text-center">
                      <div class="card-header text-white" >
                          <h3>Combo 1</h3>
                      </div>
                      <img class="card-img-top img-fluid" src="https://media-cdn.tripadvisor.com/media/photo-s/1a/89/eb/0c/best-combo-in-cotero.jpg" alt="combo1" class="img-fluid card-img-top">
                        <div class="card-body">
                            <div class="card-title text-white">
                               <h4>$79.98</h4> 
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptas.</p>
                               <ul class="list-group text-dark" > 
                                    <li class="list-group-item">Pepsi</li>
                                    <li class="list-group-item">Coffee</li>
                                    <li class="list-group-item">Chicken Sandwich</li>
                                    <li class="list-group-item">Side Salad</li>
                               </ul>
                            </div>
                        </div>
                        <div class="card-footer">
                          <a href="#" class="btn btn-outline-success btn-block mt-2" >Get it</a>
                        </div>
                  </div>
              </div>
              <!--start of second card-->
              <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header text-white" >
                        <h3>Combo 2</h3>
                    </div>
                    <img class="card-img-top img-fluid" src="https://images.summitmedia-digital.com/spotph/images/2017/09/30/costacoffeedaypromo.jpg" alt="combo1" class="img-fluid card-img-top">
                      <div class="card-body">
                          <div class="card-title text-white">
                             <h4>$59.14</h4> 
                             <p>Cold Beverages of your choice. select any three for one order</p>
                             <ul class="list-group text-dark" > 
                                  <li class="list-group-item">Cold Mocha</li>
                                  <li class="list-group-item">Frapichino</li>
                                  <li class="list-group-item">cold Late</li>
                                  <li class="list-group-item">Cold Cappuccino</li>
                             </ul>
                          </div>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-outline-success btn-block mt-2" >Get it</a>
                      </div>
                </div>
            </div>
            <!--start of third card-->
            <div class="col-md-4 d-none d-md-block">
              <div class="card text-center">
                  <div class="card-header text-white" >
                      <h3>Combo 3</h3>
                  </div>
                  <img class="card-img-top img-fluid" src="https://pbs.twimg.com/media/D03_mcuW0AE-CCz.jpg" alt="combo1" class="img-fluid card-img-top">
                    <div class="card-body">
                        <div class="card-title text-white">
                           <h4>$39.98</h4> 
                           <p>Hurry for breakfast? hot beverage and croissont of your choice</p>
                           <ul class="list-group text-dark" > 
                                <li class="list-group-item">chocolate croissont</li>
                                <li class="list-group-item">plain croissont</li>
                                <li class="list-group-item">almond croissont</li>
                                <li class="list-group-item">cruch croissont</li>
                           </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                      <a href="#" class="btn btn-outline-success btn-block mt-2" >Get it</a>
                    </div>
              </div>
          </div>

          </div>        
      </div>
  </section>

  <h1 class="display-3 text-center mt-2" > <i class="fas fa-leaf fa-1x" style="color:green; opacity: 0.6;" ></i> <span style="color:orange">Stay Healthy</span></h1>

  <!--start healthy food-->
  <section id="section-healthy-options" class="mt-5">
      <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <h5 style="font-style: italic;" class="text-center">Try our hot baked oven passterries and healthy options</h5>
              <p class="text-center">Whatever you're in the mood for, ROBUSTA® has a wide variety of Subs, salads, and sides to choose from. </p>
              <div class="d-flex" id="healthy-icons">
                  <div class="p-4 align-self-start">
                      <i class="fas fa-utensils fa-2x"></i>
                  </div>
                  <div class="p-4 align-self-end">
                    Tender chicken patty on freshly baked bread... now that’s tempting to the max!
                  </div>
              </div>

              <div class="d-flex" id="healthy-icons">
                <div class="p-4 align-self-start">
                    <i class="fas fa-utensils fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  Bite into it, and experience flavour that's as fresh as an ocean breeze. Submerge yourself in its waves of unique taste!
                </div>
              </div>

            <div class="d-flex" id="healthy-icons">
              <div class="p-4 align-self-start">
                  <i class="fas fa-utensils fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                This gourmet specialty is a flavorful blend of tender teriyaki glazed chicken strips . Served hot & toasted on freshly baked bread.
              </div>
          </div>

          
          <div class="d-flex" id="healthy-icons">
            <div class="p-4 align-self-start">
                <i class="fas fa-utensils fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Slices of hot, tender, juicy steak, served on the bread of your choice. Just bursting with flavour. Toast your bread to add even more great taste            </div>
        </div>


            </div>
            <div class="col-lg-6 d-none d-lg-block p-2" >
                <img src="https://cdn.pratico-pratiques.com/app/uploads/sites/2/2018/12/18103746/quiche-au-jambon-et-fromage.jpg" class="img-fluid" style="width:100%; border-radius: 10px;">
            </div>
        </div>
      </div>
  </section>

  <h1 class="display-3 text-center mt-2" > <i class="fas fa-blender fa-1x" style="color: orangered; opacity: 0.6;" ></i> <span style="color:orange">Hot & Cold Beverages</span></h1>

  
  <!-- SHOWCASE SLIDER -->
  <section id="showcase" class="mt-5">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          
        </div>

        <div class="carousel-item carousel-image-2">
          
        </div>

        <div class="carousel-item carousel-image-3">
          
        </div>

        <div class="carousel-item carousel-image-4">
          
        </div>

        <div class="carousel-item carousel-image-5">

        </div>

        

      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

  <!--find near stores around-->
  
  <h1 class="display-1 text-center mt-3">Can't find us ?</h1>
  <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati excepturi reprehenderit nihil soluta commodi quis nostrum deserunt accusamus temporibus, optio minus libero? Quibusdam quam incidunt accusantium, laborum ipsa corporis reprehenderit aperiam veritatis dolore! Recusandae molestiae provident aut a numquam, facere dolorum optio beatae, non officia ullam nobis nisi obcaecati id.</p>
  
  <div class="clearfix"></div>

  <!-- SECTION LOCATION -->
  
  <!-- HOME HEADING SECTION -->
  <section id="section-loyalty-card-2" class="p-5">
    <div class="dark-overlay-2">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text "><i class="fas fa-map-marker-alt fa-1x" style="color:red"></i></span>
                    </div>
                    <input class="form-control  border border-warning" type="text" placeholder="Find Location...">
                </div>
                <button class="btn btn-outline-info mt-5">Find Location! </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h1 class="display-4 text-center mt-3" > <i class="fas fa-images fa-1x" style="color: chocolate; opacity: 0.6;" ></i> <span style="color:orange">Gallery!</span></h1>

  <!--section gallery-->
  <section id="gallery" class="py-5">
    <div class="container">
      <h3 class="text-center">Robusta Show Case</h3>
      <p class="text-center">check out our Robusta Moments and what we offer!</p>
      
      <!--start first row-->

      <div class="row mb-2">
        <div class="col-md-4 mb-2">
          <a href="https://i.pinimg.com/originals/8b/b7/bb/8bb7bb47cfe597ee1ed5a85a3a1c60ce.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
            data-width="560">
            <img src="https://i.pinimg.com/originals/8b/b7/bb/8bb7bb47cfe597ee1ed5a85a3a1c60ce.jpg" alt="" class="img-fluid" >
          </a>
        </div>

        <div class="col-md-4 mb-2">
          <a href="https://media.timeout.com/images/102540203/630/472/image.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
            data-width="561">
            <img src="https://media.timeout.com/images/102540203/630/472/image.jpg" alt="" class="img-fluid" >
          </a>
        </div>

        <div class="col-md-4 mb-2">
          <a href="https://cdn.kiwilimon.com/recetaimagen/34782/th5-640x426-43124.png" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
            data-width="562">
            <img src="https://cdn.kiwilimon.com/recetaimagen/34782/th5-640x426-43124.png" alt="" class="img-fluid">
          </a>
        </div>
    </div>

    <!--start second row-->
    
    <div class="row mb-2">
      <div class="col-md-4 mb-2">
        <a href="https://images.wallpaperscraft.com/image/coffee_water_cups_drinks_119400_938x1668.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
          data-width="560">
          <img src="https://images.wallpaperscraft.com/image/coffee_water_cups_drinks_119400_938x1668.jpg" alt="" class="img-fluid" >
        </a>
      </div>

      <div class="col-md-4 mb-2">
        <a href="https://images.wallpaperscraft.com/image/coffee_drink_jar_146282_800x1420.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
          data-width="561">
          <img src="https://images.wallpaperscraft.com/image/coffee_drink_jar_146282_800x1420.jpg" alt="" class="img-fluid" >
        </a>
      </div>

      <div class="col-md-4 mb-2">
        <a href="https://wallpapercave.com/wp/wp5682085.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
          data-width="562">
          <img src="https://wallpapercave.com/wp/wp5682085.jpg" alt="" class="img-fluid">
        </a>
      </div>
  </div>


  <!--third row-->

  <div class="row mb-2">
    <div class="col-md-4 mb-2">
      <a href="https://pbs.twimg.com/media/DiRI5jRUYAElnQT.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
        data-width="560">
        <img src="https://pbs.twimg.com/media/DiRI5jRUYAElnQT.jpg" alt="" class="img-fluid" >
      </a>
    </div>

    <div class="col-md-4 mb-2">
      <a href="https://wallpapercave.com/wp/wp5682086.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
        data-width="561">
        <img src="https://wallpapercave.com/wp/wp5682086.jpg" alt="" class="img-fluid" >
      </a>
    </div>

    <div class="col-md-4 mb-2">
      <a href="https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/39410/c-o-f-f-e-e-iphone-x-wallpaper-ilikewallpaper_com.jpg" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
        data-width="562">
        <img src="https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/39410/c-o-f-f-e-e-iphone-x-wallpaper-ilikewallpaper_com.jpg" alt="" class="img-fluid">
      </a>
    </div>
</div>


</section>

<h1 class="display-3 text-center  my-3"> <i class="fa fa-envelope-square" style="color: dodgerblue; margin-right: 7px;"></i><span  style="color: orange;">Contact Us</span></h1>

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4 bg-transparent">
          <div class="card-body">
            <h4>Get In Touch</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, odio!</p>
            <h4>Address</h4>
            <p>550 Main st, Boston MA</p>
            <h4>Email</h4>
            <p>test@test.com</p>
            <h4>Phone</h4>
            <p>(555) 555-5555</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-4 bg-transparent text-muted">
          <div class="card-body">
            <h3 class="text-center">Please fill out this form to contact us</h3>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control bg-transparent" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control bg-transparent" placeholder="Last Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control bg-transparent" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control bg-transparent" placeholder="Phone Number">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control bg-transparent" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-outline-info btn-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--our team-->

<h1 class="display-3 text-center text-dark my-3"> <i class="fa fa-id-badge" style="color: tomato; margin-right: 7px;"></i>Our Team</h1>


  <!-- STAFF -->
  <section id="staff" class="py-5 text-center text-white" style="background-color:chocolate">
    <div class="container">
      <h1 style="color:dos">Robusta!!</h1>
      <hr>
      <div class="row">
        <!-- 6 column div offset by 3 -->
        <div class="col-md-9 offset-md-3">
            <div class="row">
              <div class="col-md-4">
                <img src="/images/ahmed.jpeg" alt="" class="img-fluid rounded-circle mb-2" style="height:150px; width:150px">
                <h4>Ahmed Shabbir</h4>
                <small>Marketing Manager</small>
              </div>
              
              <div class="col-md-4">
                <img src="/images/nabeel.jpg" alt="" class="img-fluid rounded-circle mb-2" style="height:150px; width:150px">
                <h4>Nabeel</h4>
                <small>Web Developer</small>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- VIDEO PLAY -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a href="#" class="video" data-video="https://www.youtube.com/embed/qkJvP3pMqW8" data-toggle="modal" data-target="#videoModal">
              <i class="fas fa-play fa-3x"></i>
            </a>
            <h1 class="mt-4">See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- VIDEO MODAL -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <iframe src="" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <h1 class="display-4 text-center text-dark my-4"> <i class="fa fa-star" style="color: red; margin-right: 7px;"></i><span style="color:orange">Customer Reviews!</span></h1>

  <!-- Reviews -->
  <section id="testimonials" class="p-4 bg-dark text-white mb-5">
    <div class="overlay">
      <div class="container">
        <h2 class="text-center mt-5">testimonials</h2>
        <div class="row text-center">
          <div class="col">
            <div class="slider">
              <div>
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                  </p>
                  <footer class="blockquote-footer">John Doe From
                    <cite title="Company 1">Meggy</cite>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                  </p>
                  <footer class="blockquote-footer">Sam Smith From
                    <cite title="Company 2">Raza</cite>
                  </footer>
                </blockquote>
              </div>
              <div>
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
                  </p>
                  <footer class="blockquote-footer">Meghan Williams From
                    <cite title="Company 3"></cite>
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div style="margin-top: 50px;"></div>

  
  <!-- Footer -->
<footer class="page-footer text-white bg-dark font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    Nabeel & Ahmed
  </div>
  <!-- Copyright -->

</footer>


    <%- include('../partials/footer') %>