
    <!-- NAVBAR WITH RESPONSIVE TOGGLE -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-danger mb-3">
        <div class="container">
            <img src="/images/small-logo.jpg" class="rounded-circle mt-1 mr-2" style="height:50px; width:50px">
            <a class="navbar-brand" href="/robusta/global/">Robusta</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto text-center">

                    <li class="nav-item log-out">
                        <a class="nav-link" href="/">Register</a>
                    </li>

                    <li class="nav-item log-out">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                    <li class="nav-item log-in">
                        <a class="nav-link" href="/robusta/global/">Home</a>
                    </li>
                    <li class="nav-item log-in">
                        <a class="nav-link" href="/robusta/global/weather">Weather App</a>
                    </li>
                    <li class="nav-item log-in">
                        <a class="nav-link" href="/robusta/global/bookstore">BookStore</a>
                    </li>

                    <li class="nav-item log-in">
                        <a class="nav-link" href="/robusta/global/logout">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>